<!DOCTYPE html>
<html lang="en">
<head>
     <%- include('./partials/head') %>

   <title>HomePage</title>
</head>
<body style="background-color: #212121; color: white;">
   <%- include('./partials/nav') %>
   <%- include('./partials/scripts') %>


</body>
</html>